.layout {
	display: flex;
	flex-direction: column;

	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 24px 48px;
	}

	&__header--home {
		cursor: pointer;
		color: white;
	}

	&__sider--logo {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--ant-layout-header-height);
	}

	&__header--right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}

	&__content:global(.ant-layout) {
		flex: 1;
		overflow: auto;
	}
}
